* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.ico binary
*.jar binary
*.exe binary
*.dll binary
*.so binary
*.aab binary
*.apk binary
*.keystore binary
*.jks binary

gradle/wrapper/gradle-wrapper.jar binary
